.fonctionn{
    //margin: 1rem 1rem 4rem 1rem;
    padding: .1rem .5rem .1rem 1rem;      
    color: $colour-black;
    &__icon{
        margin: 0rem 2rem 0rem 0rem;
    }
    &__steps {
        counter-reset: compteur;
        padding: 1rem 2rem 1rem 1rem;
        &__step {
            width: 95%;
            margin-bottom: 2rem;
            padding: 2rem 1rem 2rem 1rem;            
            display: flex;        
            list-style-type: none;                        
            counter-increment: compteur; /* on incrémente le compteur à chaque nouveau li */
            background-color: $back-colour-clear;            
            box-shadow: 3px 5px 10px 1px $back-colour-dark;   
            border-radius: 20px;
            &:before {
                content: counter(compteur); 
                background: $colour-primary;
                height:1.5rem;
                width: 1.5rem;
                border-radius: 100px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: $colour-white;
                position: relative;
                right: 1.8rem;
            }               
        }
    }    

}

