.loader {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: rgba(223, 197, 197, 0.9);
    animation: loader 2000ms;
    animation-delay: 2000ms;
    animation-fill-mode: both;
    z-index: 10000;
    display:flex;
    align-items:center;
    justify-content:center;  
    &__bar {               
      height: 1rem;
      width: 10rem;
      //border-radius: 1rem;
      background: linear-gradient(to right, $colour-primary, $colour-secondary);
      animation: progress-bar 1500ms; 
      transform-origin: 0% 50%;     
      &Container {
        border: 1px solid black;
        display: flex;
        width: 10rem;
        justify-content: space-between;
      }      
    }
    &__text {      
        text-align: center;
        margin-bottom: 6rem;        
        & p {
            animation: text-zoom 1500ms;
            font-family: 'Shrikhand', sans-serif;
            font-size: 2rem;
            color: $colour-black;
        }
    }
}

@keyframes loader{
    100% { 
        opacity: 0; 
        z-index: -10;
    }
}
  
@keyframes progress-bar {
    0% {
        transform: scaleX(0);
    }    
    100% {
        transform: scaleX(1);
    }
}

@keyframes text-zoom {
    0% {
        opacity: 0;
    }    

    50%{
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(360deg);
    }

}
  