.loader {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgba(223, 197, 197, 0.9);
  animation: loader 2000ms;
  animation-delay: 1000ms;
  animation-fill-mode: both;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader__barContainer {
  border: 1px solid black;
  display: flex;
  width: 10rem;
  justify-content: space-between;
}
.loader__bar {
  height: 1rem;
  width: 10rem;
  background: linear-gradient(to right, #9356DC, #FF79DA);
  animation: progress-bar 1500ms;
  transform-origin: 0% 50%;
}
.loader__text {
  text-align: center;
  margin-bottom: 6rem;
}
.loader__text p {
  animation: text-rotate 1500ms;
  font-family: "Shrikhand", sans-serif;
  font-size: 2rem;
  color: #000;
}

@keyframes loader {
  100% {
    opacity: 0;
    z-index: -100;
  }
}
@keyframes progress-bar {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
@keyframes text-rotate {
  0% {
    opacity: 0;
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
body {
  margin: 0px;
}

h3 {
  margin: 0px;
}

body {
  font-family: "Roboto", sans-serif;
  color: #9356DC;
}

h1 {
  font-family: "Shrikhand", sans-serif;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

span {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

textarea {
  font-family: "Roboto", sans-serif;
}

button {
  font-family: "Roboto", sans-serif;
}

.btn {
  border: 0px;
  padding: 1rem 3rem;
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: 30px;
  color: #ffff;
  background-image: linear-gradient(170deg, #FF79DA, #9356DC);
  box-shadow: 3px 5px 5px 1px #d9d9d9;
  cursor: pointer;
  transition: all 500ms;
}
.btn:hover {
  background-image: linear-gradient(170deg, #ff8de0, #9e67e0);
  box-shadow: 3px 5px 5px 1px #999999;
}

.header__logo {
  color: #000;
  text-align: center;
}

.fonctionn {
  padding: 0.1rem 0.5rem 0.1rem 1rem;
  color: #000;
}
@media (min-width: 1300px) {
  .fonctionn {
    text-align: center;
  }
}
.fonctionn__icon {
  margin: 0rem 2rem 0rem 0rem;
}
.fonctionn__steps {
  counter-reset: compteur;
  padding: 1rem 2rem 1rem 1rem;
}
@media (min-width: 1300px) {
  .fonctionn__steps {
    display: flex;
    width: 70%;
    margin: 0 auto;
  }
}
.fonctionn__steps__step {
  width: 95%;
  margin-bottom: 2rem;
  padding: 2rem 1rem 2rem 1rem;
  display: flex;
  list-style-type: none;
  counter-increment: compteur;
  background-color: #F2F2F2;
  box-shadow: 3px 5px 10px 1px #d9d9d9;
  border-radius: 20px;
}
.fonctionn__steps__step:nth-child(3) i {
  color: #9356DC;
}
@media (min-width: 1300px) {
  .fonctionn__steps__step {
    margin: 0 1rem 2rem 1rem;
  }
}
.fonctionn__steps__step:before {
  content: counter(compteur);
  background: #9356DC;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffff;
  position: relative;
  right: 1.8rem;
}

a {
  text-decoration: none;
}

.reserve__subtitle {
  font-size: 1.5rem;
}

.restaurants {
  color: #000;
  background-color: #F2F2F2;
  padding: 1rem 1rem 1rem 1rem;
}
@media (min-width: 1300px) {
  .restaurants__title {
    text-align: center;
  }
}
@media (min-width: 1300px) {
  .restaurants__container {
    margin: 0 auto;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }
  .restaurants__container .restaurants_link {
    margin: 0 auto;
    width: 95%;
  }
  .restaurants__container .restaurants_link:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
  }
  .restaurants__container .restaurants_link:nth-child(2) {
    grid-column: 2;
    grid-row: 1;
  }
  .restaurants__container .restaurants_link:nth-child(3) {
    grid-column: 1;
    grid-row: 2;
  }
  .restaurants__container .restaurants_link:nth-child(4) {
    grid-column: 2;
    grid-row: 2;
  }
}
.restaurants_link:nth-child(2) .card__img {
  object-position: 39% 61%;
  object-fit: cover;
}
.restaurants_link:nth-child(3) .card__label, .restaurants :nth-child(4) .card__label {
  display: none;
}

.card {
  height: 300px;
  background-color: #ffff;
  border-radius: 20px;
  padding: 0rem 0rem 2rem 0rem;
  margin-bottom: 1rem;
  box-shadow: 3px 5px 10px 1px #d9d9d9;
  position: relative;
  transition-duration: 500ms;
}
.card:hover {
  box-shadow: 3px 5px 10px 1px #404040;
}
.card__img {
  margin: 0rem 0rem 0rem 0rem;
  padding: 0px;
  width: 100%;
  height: 80%;
  border-radius: 20px 20px 0px 0px;
  object-position: 10% 90%;
  object-fit: cover;
}
.card__label {
  color: #404040;
  padding: 0.5rem 0.5rem;
  position: absolute;
  top: 1rem;
  right: 0.75rem;
  background-color: #99E2D0;
}
.card__desc {
  position: relative;
  top: 0rem;
  margin: 0rem 1rem 0rem 1rem;
  color: #000;
  display: flex;
  justify-content: space-between;
  background-color: #ffff;
}
.card__container:hover .card__container__like__off {
  opacity: 0;
  z-index: -1;
  transition: 700ms;
}
.card__container:hover .card__container__like__on {
  opacity: 1;
  transition: 700ms;
}
.card__container__like__on {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  color: #FF79DA;
}

.footer {
  background-color: #404040;
  color: #ffff;
  padding: 1rem 1rem 1rem 1rem;
}
@media (min-width: 1300px) {
  .footer {
    text-align: center;
  }
}
.footer__list {
  padding: 0;
}
.footer__list-element {
  list-style-type: none;
  padding: 0.2rem;
}
.footer__list-element__text {
  padding-left: 1rem;
}
.footer__link {
  text-decoration: none;
}
.footer__logo {
  font-family: "Shrikhand", sans-serif;
}
.footer__link {
  color: #ffff;
}
.footer__link:hover {
  text-decoration: underline;
}

.localize {
  display: flex;
  justify-content: center;
  padding: 1rem 1rem 1rem 1rem;
  font-size: 1.2rem;
  position: relative;
  background-color: #e5e5e5;
  color: #000;
  border-top: 0.2rem solid #d9d9d9;
}
.localize__text {
  font-weight: 600;
}
.localize__icon {
  margin-right: 1rem;
}

.reserve {
  background-color: #F2F2F2;
  padding: 1rem 1rem 4rem 1rem;
  color: #000;
  text-align: center;
}

body {
  color: #000;
}

.headerMenu {
  position: relative;
}
.headerMenu__icon {
  position: absolute;
  left: 2rem;
  height: 2rem;
  width: 2rem;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  color: black;
}

.menu {
  padding: 0 0 0 0;
}
.menu__img {
  width: 100%;
  height: 22rem;
  object-fit: cover;
}
@media (min-width: 1300px) {
  .menu__img {
    height: 30rem;
    object-fit: cover;
  }
}
.menu__imgNote {
  height: 22rem;
  object-fit: cover;
}
.menu__content {
  background-color: #F2F2F2;
  z-index: 1;
  padding: 0.5rem 1rem 5em 1rem;
  margin: 0 0 -5rem 0;
  border-radius: 35px 35px 0px 0px;
  position: relative;
  top: -5rem;
}
@media (min-width: 1300px) {
  .menu__content {
    margin: 0 auto -4rem auto;
    width: 85%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    grid-auto-rows: minmax(50px, auto);
    top: -4rem;
  }
}
.menu__content__rest {
  position: relative;
  margin: 0rem 1rem 0rem 0rem;
  color: #000;
  display: flex;
  justify-content: space-between;
}
@media (min-width: 1300px) {
  .menu__content__rest {
    grid-column: 1;
    grid-row: 1;
  }
}
.menu__content__rest__container:hover .menu__content__rest__container__like__off {
  opacity: 0;
  z-index: -1;
  transition: 700ms;
}
.menu__content__rest__container:hover .menu__content__rest__container__like__on {
  opacity: 1;
  transition: 700ms;
}
.menu__content__rest__container__like__off {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 1.5rem;
  right: 0;
  bottom: 0;
}
.menu__content__rest__container__like__on {
  opacity: 0;
  padding: 0;
  margin: 0;
  color: #FF79DA;
  position: absolute;
  top: 1.5rem;
  right: 0;
  bottom: 0;
}
.menu__content__order {
  margin: 0 0 3rem 0;
}
.menu__content__order__text {
  font-size: 1.5rem;
  margin-bottom: 0px;
}
.menu__content__order__line {
  border-top: 0.3rem solid #99E2D0;
  margin: 0.51rem 0 2rem 0;
  width: 4rem;
}
.menu__content__order__type {
  opacity: 0;
  margin: 0rem 0rem 1rem 0rem;
  display: flex;
  justify-content: space-between;
  background-color: #ffff;
  border-radius: 15px;
  padding: 0rem 0rem 0rem 1rem;
  box-shadow: 3px 5px 10px 1px #d9d9d9;
  overflow: hidden;
  animation: 400ms appear 1000ms ease-in forwards;
}
.menu__content__order__type--1 {
  animation-delay: 100ms;
}
.menu__content__order__type:hover {
  cursor: pointer;
}
.menu__content__order__type:hover .menu__content__order__type__card {
  width: 60%;
}
.menu__content__order__type:hover .menu__content__order__type__validate {
  transform: translate(-80px);
  opacity: 1;
}
.menu__content__order__type:hover .menu__content__order__type__validate i {
  transform: rotate(360deg);
}
.menu__content__order__type:hover .menu__content__order__type__price {
  transform: translate(-80px);
  opacity: 1;
}
.menu__content__order__type--2 {
  animation-delay: 200ms;
}
.menu__content__order__type:hover {
  cursor: pointer;
}
.menu__content__order__type:hover .menu__content__order__type__card {
  width: 60%;
}
.menu__content__order__type:hover .menu__content__order__type__validate {
  transform: translate(-80px);
  opacity: 1;
}
.menu__content__order__type:hover .menu__content__order__type__validate i {
  transform: rotate(360deg);
}
.menu__content__order__type:hover .menu__content__order__type__price {
  transform: translate(-80px);
  opacity: 1;
}
.menu__content__order__type--3 {
  animation-delay: 300ms;
}
.menu__content__order__type:hover {
  cursor: pointer;
}
.menu__content__order__type:hover .menu__content__order__type__card {
  width: 60%;
}
.menu__content__order__type:hover .menu__content__order__type__validate {
  transform: translate(-80px);
  opacity: 1;
}
.menu__content__order__type:hover .menu__content__order__type__validate i {
  transform: rotate(360deg);
}
.menu__content__order__type:hover .menu__content__order__type__price {
  transform: translate(-80px);
  opacity: 1;
}
.menu__content__order__type--4 {
  animation-delay: 400ms;
}
.menu__content__order__type:hover {
  cursor: pointer;
}
.menu__content__order__type:hover .menu__content__order__type__card {
  width: 60%;
}
.menu__content__order__type:hover .menu__content__order__type__validate {
  transform: translate(-80px);
  opacity: 1;
}
.menu__content__order__type:hover .menu__content__order__type__validate i {
  transform: rotate(360deg);
}
.menu__content__order__type:hover .menu__content__order__type__price {
  transform: translate(-80px);
  opacity: 1;
}
.menu__content__order__type--5 {
  animation-delay: 500ms;
}
.menu__content__order__type:hover {
  cursor: pointer;
}
.menu__content__order__type:hover .menu__content__order__type__card {
  width: 60%;
}
.menu__content__order__type:hover .menu__content__order__type__validate {
  transform: translate(-80px);
  opacity: 1;
}
.menu__content__order__type:hover .menu__content__order__type__validate i {
  transform: rotate(360deg);
}
.menu__content__order__type:hover .menu__content__order__type__price {
  transform: translate(-80px);
  opacity: 1;
}
.menu__content__order__type--6 {
  animation-delay: 600ms;
}
.menu__content__order__type:hover {
  cursor: pointer;
}
.menu__content__order__type:hover .menu__content__order__type__card {
  width: 60%;
}
.menu__content__order__type:hover .menu__content__order__type__validate {
  transform: translate(-80px);
  opacity: 1;
}
.menu__content__order__type:hover .menu__content__order__type__validate i {
  transform: rotate(360deg);
}
.menu__content__order__type:hover .menu__content__order__type__price {
  transform: translate(-80px);
  opacity: 1;
}
.menu__content__order__type--7 {
  animation-delay: 700ms;
}
.menu__content__order__type:hover {
  cursor: pointer;
}
.menu__content__order__type:hover .menu__content__order__type__card {
  width: 60%;
}
.menu__content__order__type:hover .menu__content__order__type__validate {
  transform: translate(-80px);
  opacity: 1;
}
.menu__content__order__type:hover .menu__content__order__type__validate i {
  transform: rotate(360deg);
}
.menu__content__order__type:hover .menu__content__order__type__price {
  transform: translate(-80px);
  opacity: 1;
}
.menu__content__order__type--8 {
  animation-delay: 800ms;
}
.menu__content__order__type:hover {
  cursor: pointer;
}
.menu__content__order__type:hover .menu__content__order__type__card {
  width: 60%;
}
.menu__content__order__type:hover .menu__content__order__type__validate {
  transform: translate(-80px);
  opacity: 1;
}
.menu__content__order__type:hover .menu__content__order__type__validate i {
  transform: rotate(360deg);
}
.menu__content__order__type:hover .menu__content__order__type__price {
  transform: translate(-80px);
  opacity: 1;
}
.menu__content__order__type--9 {
  animation-delay: 900ms;
}
.menu__content__order__type:hover {
  cursor: pointer;
}
.menu__content__order__type:hover .menu__content__order__type__card {
  width: 60%;
}
.menu__content__order__type:hover .menu__content__order__type__validate {
  transform: translate(-80px);
  opacity: 1;
}
.menu__content__order__type:hover .menu__content__order__type__validate i {
  transform: rotate(360deg);
}
.menu__content__order__type:hover .menu__content__order__type__price {
  transform: translate(-80px);
  opacity: 1;
}
.menu__content__order__type--10 {
  animation-delay: 1000ms;
}
.menu__content__order__type:hover {
  cursor: pointer;
}
.menu__content__order__type:hover .menu__content__order__type__card {
  width: 60%;
}
.menu__content__order__type:hover .menu__content__order__type__validate {
  transform: translate(-80px);
  opacity: 1;
}
.menu__content__order__type:hover .menu__content__order__type__validate i {
  transform: rotate(360deg);
}
.menu__content__order__type:hover .menu__content__order__type__price {
  transform: translate(-80px);
  opacity: 1;
}
.menu__content__order__type__validate {
  opacity: 0;
  transition: transform 400ms ease-in-out;
  margin: 0rem -5rem 0rem 0rem;
  border-radius: 0 15px 15px 0;
  width: 5rem;
  background-color: #99E2D0;
  animation: 200ms validator 1000ms ease-in forwards;
}
.menu__content__order__type__validate i {
  color: #ffff;
  transition: transform 400ms ease-in-out;
  font-size: 2rem;
  position: relative;
  right: -1.5rem;
  top: 25%;
}
.menu__content__order__type__card {
  width: 100%;
  padding: 0px 0px 0px 0px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: width 400ms;
}
.menu__content__order__type__card__name {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu__content__order__type__card__text {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu__content__order__type__price {
  font-weight: bold;
  padding: 1.5rem 0rem 0rem 0rem;
  position: absolute;
  right: 0.5rem;
  transition: transform 300ms ease-in-out;
}
.menu__content__wrapper {
  margin: 5rem 0 0 0;
  display: flex;
  justify-content: space-around;
}
@media (min-width: 1300px) {
  .menu__content__wrapper {
    grid-column: 2;
    grid-row: 3;
  }
}
.menu__content__wrapper__button {
  width: 50%;
}

@media (min-width: 1300px) {
  .order__entrees {
    grid-column: 1;
    grid-row: 2;
  }

  .order__plats {
    grid-column: 2;
    grid-row: 2;
  }

  .order__desserts {
    grid-column: 3;
    grid-row: 2;
  }
}
@keyframes appear {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }
  60% {
    transform: scale(1.4);
  }
  90% {
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes validator {
  0% {
    width: 0;
    opacity: 0;
  }
  100% {
    width: 5rem;
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
