body{
    color: $colour-black;
}

.headerMenu {
    position: relative;
    &__icon {
        position: absolute;
        left: 2rem;
        height: 2rem;
        width: 2rem;
        top: 50%;
        display:flex;
        align-items:center;
        justify-content:center;
        font-size: 1.2rem;
        color: black;
    }
}

.menu {    
    padding: 0 0 0 0;
    &__img { 
        @media (min-width: 1300px) {
            height: 30rem;
            object-fit: cover;
        } 
        width: 100%;
        height: 22rem; 
        object-fit: cover;
    }
    &__imgNote{
        height: 22rem; 
        object-fit: cover;
    }
    &__content{
        @media (min-width: 1300px) {
            margin: 0 auto -4rem auto;
            width: 85%;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 30px;
            grid-auto-rows: minmax(50px, auto);
            top: -4rem;
        }
        background-color: $back-colour-clear;        
        z-index: 1;
        padding: .5rem 1rem 5em 1rem;
        margin: 0 0 -5rem 0;
        border-radius: 35px 35px 0px 0px;
        position: relative;
        top: -5rem;
        &__rest{
            @media (min-width: 1300px) {
                grid-column: 1;
                grid-row: 1;                
            }
            position: relative;
            margin: 0rem 1rem 0rem 0rem;  
            color: $colour-black;       
            display: flex;
            justify-content: space-between;
            &__container {
                @include like;
                &__like__off {                
                    padding: 0;
                    margin: 0;
                    position: absolute;
                    top: 1.5rem;
                    right: 0;
                    bottom: 0;
                }
                &__like__on {
                    opacity: 0;
                    padding: 0;
                    margin: 0;                
                    color: $colour-secondary;
                    position: absolute;
                    top: 1.5rem;
                    right: 0;
                    bottom: 0;          
                }                
            }
        }
        &__order{
            &__text{
                font-size: 1.5rem;
                margin-bottom : 0px;
            }
            &__line {
                border-top: .3rem solid $colour-tertiary;
                margin: .51rem 0 2rem 0;
                width: 4rem;
            }
            margin: 0 0 3rem 0;
            &__type {
                opacity: 0;                                               
                margin: 0rem 0rem 1rem 0rem;
                display: flex; 
                justify-content: space-between;           
                background-color: $colour-white;
                border-radius: 15px;
                padding: 0rem 0rem 0rem 1rem;
                box-shadow: 3px 5px 10px 1px $back-colour-dark;
                overflow: hidden;
                animation: 400ms appear $anim-dur ease-in forwards;
                @for $i from 1 through $num-types {
                    &--#{$i} {
                        animation-delay: $anim-delay * $i;
                    }
                &:hover {
                    cursor: pointer;
                }
                &:hover &__card{
                    width: 60%;
                }
                &:hover &__validate {                    
                    transform: translate(-80px);
                    opacity: 1;                   
                }
                &:hover &__validate i {
                    transform: rotate(360deg);
                }
                &:hover &__price {                    
                    transform: translate(-80px);
                    opacity: 1;
                  
                }
                }
                &__validate {
                    opacity: 0;
                    transition: transform 400ms ease-in-out;               
                    margin: 0rem -5rem 0rem 0rem;
                    border-radius: 0 15px 15px 0;
                    width: 5rem;
                    background-color: $colour-tertiary;
                    animation: 200ms validator $anim-dur ease-in forwards;
                    & i {
                        color: $colour-white;                                            
                        transition: transform 400ms ease-in-out;
                        font-size: 2rem;                      
                        position: relative;
                        right: -1.5rem;
                        top: 25%;
                    }
                }   
                &__card {
                    width: 100%;
                    padding: 0px 0px 0px 0px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    transition: width 400ms;
                    &__name {
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;                        
                    }
                    &__text {
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;  
                    }
                }
                &__price {
                    font-weight: bold;                 
                    padding: 1.5rem 0rem 0rem 0rem; 
                    position: absolute;
                    right: 0.5rem;
                    transition: transform 300ms ease-in-out;
                }
            }
        }
        &__wrapper {
            @media (min-width: 1300px) {
                grid-column: 2;
                grid-row: 3;
            }
            margin: 5rem 0 0 0;
            display: flex;
            justify-content: space-around;
            &__button {
                width: 50%;
            }
        }
    }
    
}

@media (min-width: 1300px) {
    .order__entrees {
        grid-column: 1;
        grid-row: 2;
    }
    .order__plats {
        grid-column: 2;
        grid-row: 2;
    }
    .order__desserts {
        grid-column: 3;
        grid-row: 2;
    }
}

@keyframes appear {
    0% {
        opacity: 0;
        transform: scale(0.3);
    }    
  
    60% {
        transform: scale(1.4);
    }

    90% {
        transform: scale(0.9);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes validator {
    0% {
        width: 0;
        opacity: 0;
    }

    100% {
        width: 5rem;
        opacity: 1;

    }
}


