@mixin btn {
    border: 0px;
    padding: 1rem 3rem;
    font-weight: 500;
    font-size: 1.1rem;
    border-radius: 30px;
    color: $colour-white;
    background-image: linear-gradient(170deg, $colour-secondary,$colour-primary);
    box-shadow: 3px 5px 5px 1px $back-colour-dark; 
    cursor: pointer;
    transition: all 500ms;
    &:hover {
        background-image: linear-gradient(170deg, $colour-secondary-clear,$colour-primary-clear);
        box-shadow: 3px 5px 5px 1px darken($back-colour-dark, 25);
    }
}

@mixin like {
    &:hover &__like__off {
        opacity: 0;
        z-index: -1;
        transition: 700ms;
    }
    &:hover &__like__on {
        opacity: 1;
        transition: 700ms;
    } 
}