@mixin btn {
    background-color: $colour-secondary;
    padding: 1rem 1rem;
    border: 0px;
    border-radius: 30px;
    color: $colour-white;
    // padding: $grid-gutter;
    // @include border;
    // color: $colour-primary;
    // background: $colour-secondary;
    // cursor: pointer;
    // &:hover{
    //     background: $colour-primary;
    //     color: $colour-accent;
    // }
    // &--full-width {
    //     width: 100%;
    //     margin: 0 auto;
    }
