$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;
$colour-black: #000;
$colour-white: #ffff;
$back-colour-clear:#F2F2F2;
$back-colour-medium: darken($back-colour-clear, 5%);
$back-colour-dark: darken($back-colour-clear, 10%);
$back-colour-darkest: darken($back-colour-clear, 70%);


